.rules {
  display: flex;
  align-items: center;
}

.grey {
  background-color: rgb(73, 71, 91) !important;
}

.green {
  background-color: rgb(217, 56, 61) !important;
}

.blue {
  background-color: rgb(0, 122, 80) !important;
}

@media only screen and (min-width:1000px) {
  .rules {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    align-self: center;
  }

  .rules > div {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 30px;
    width: 500px;
    font-size: 16px;
  }
}

@media only screen and (max-width:1000px) {
  .rules {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 8vw !important;
  }

  .rules > div {
    margin-top: 0.5vh !important;
    margin-bottom: 0.5vh !important;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
    height: 4vh;
    width: 12vw;
    font-size: 1.5vh;
  }
}
