.titre {
  line-height: 100%;
  text-align: center;
}

@media only screen and (max-width:1000px) {
  .title {
      font-size: 10vw;
      letter-spacing: 1vw;
      margin-top: 5vh !important;
      margin-bottom: 5vh !important;
  }
}

@media only screen and (min-width:1000px) {

    .title {
        font-size: 100px;
        letter-spacing: 15px;
        margin-bottom: 20px !important;
    }
}
